.producto-show-section {
    height: 552px;
}

.product-details-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.img-zoom-container img {
    top: 20px;
    position: relative;
}

.img-zoom-container {
    position: relative;
    width: 400px;
    height: 400px;
    left: 60px;

  }
  
  #lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    display: none;
    z-index: 1000; /* Asegura que el lens esté por encima de otros elementos */
  }
  
  #product-image {
    display: block;
  }
  
  .img-zoom-result {
    border: 1px solid #d4d4d4;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1000;
    background: #fff;
    overflow: hidden;
  }

  .input-group {
  display: flex;
  gap: 6px

}


  .input-group .btn1{
    border: 1px solid;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 0px;
    font-size: 10px;
    background-color: black;
}


 .btn1 i {
    font-size: 15px;
    font-weight: 900;
    color: white;

}

.producto-input-quantity {
    width: 50px;
    position: relative;
    right: 5px;
}

.input-group .btn1:hover{
    background-color: #2874f0;
    color: #fff;
}

.bottom-producto {
    position: relative;
    top: 20px;
}

.bottom-producto button {
    border-radius: 25px 25px 25px 25px;
    color: #000000;
    background-color: #FDBA12;
    font-size: 15px;
    font-weight: 600;

}

.bottom-producto button:hover {
    border-radius: 25px 25px 25px 25px;
    color: #000000;
    background-color: #FDBA12;
    font-size: 15px;
    font-weight: 600;
    width: 160px;

}

.bottom-producto button i {
    font-size: 15px;
    font-weight: 900;
    color: #000000;
}




.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px; /* Espacio entre los productos */
}

.product-item {
    box-sizing: border-box;
}

.product-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #ddd;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}

.product-card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.product-card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .product-card-title a {
    text-decoration: none;
    color: #000;

} */


.product-card-text {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 8px;
}

.producto-right-side {
    position: relative;
    right: 250px;
    top: 100px;
}

.img-zoom-result {
    display: none;
}